<div class="container-fluid panel ">
  <div class="well table-responsive">
    <button class="btn icon-btn btn-success pull-right" data-ng-click = "addNewEvent()" style="margin-bottom: 1em;" title="Event aanmaken">
      <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
      Voeg nieuw event toe
    </button>
    <h2>Alle verkeersevents</h2>
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

          <input type="text" class="form-control" placeholder="Zoek een event" ng-model="searchEvent">

        </div>
      </div>
    </form>

    <table class = "table table-condensed " ng-hide="loading">
      <thead>
      <tr >
        <th>Type</th>
        <th>Datum</th>
        <th>Beschrijving</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="event in events | orderBy:sortType:sortReverse | filter:searchEvent" data-ng-click="goto(event)" class="hoverTableRow">
        <td>{{ "EventTypes." + event.type.type | translate }}</td>
        <td>{{ event.publication_time | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
        <td>{{ event.description }}</td>
        <td>
          <div class="pull-right">
            <button data-ng-click = "deleteEvent(event)" class="btn badge" title="Verwijderen">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="loader" ng-show="loading">Loading...</div>
</div>
