<div id = "errorpage" style="text-align: center;">
    <!-- content comes here! -->
    <h1>U heeft geen toegang tot dit gebied</h1>
    
    <!--<center>-->
    
        <img id="no_access_img" src="assets/images/no_access.gif"/>

        <p>
            U bent niet bevoegd om de informatie op deze locatie te bekijken. Gelieve terug te keren naar de pagina van waar u komt!<br> 
            Als u toch denkt toegang te moeten hebben tot dit gebied gelieve opnieuw in te loggen of contact op te nemen met onze <a href="Simon.Scheerlynck@UGent.be">helpdesk</a>.
        </p>
   <br/>
    <button id="error_home" type="button" class="btn icon-btn btn-primary intro_button" data-ng-click = "goHome()" title="terug">
        <span class="glyphicon btn-glyphicon glyphicon-backward  img-circle text-primary"></span>
        Terug naar {{name_nxt}}
    </button>
</div>
