<div id = "errorpage" style="text-align: center;">
    <!-- content comes here! -->
    <h1>Er is een 404 fout opgetreden</h1>
    <h3>De pagina die u probeert te bezoeken kan niet worden gevonden.</h3>
    <p>
        De pagina die u probeert te bereiken bestaat niet.
        U werd verkeerd doorverwezen of u heeft een verkeerde URL opgegeven. Gelieve deze eens te controleren of contact
        op te nemen met onze <a href="Simon.Scheerlynck@UGent.be">helpdesk</a>.
    </p>
    <center>
        <img id="error_img" class = "img-circle img-responsive" src="assets/images/olympic_in_traffic_165995.jpg"/>
    </center>
    <br/>
    <button id="error_home" type="button" class="btn icon-btn btn-primary intro_button" data-ng-click = "goHome()" title="terug">
        <span class="glyphicon btn-glyphicon glyphicon-backward  img-circle text-primary"></span>
        Terug naar {{name_nxt}}
    </button>
</div>
