<p style="margin-bottom:50px">
    Dit project is een taak voor het vakoverschrijdend project van de derde bachelor Informatica van de
    Universiteit Gent(2015-2016) en werd gerealiseerd door Groep 7.
</p>
<h3>Groep 7:</h3>
<table class = "table table-condensed table-striped">
    <thead>
    <tr>
        <th>Taak</th>
        <th>Verantwoordelijke</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Projectleider:</td>
        <td>
            <a href="mailto:Tresor.Akimana@UGent.be">
                Beni-Tresor Akimana
            </a>
        </td>
    </tr>
    <tr>
        <td>Systeembeheerder:</td>
        <td>
            <a href="mailto:Jonas.VanWilder@UGent.be">
                Jonas Van Wilder
            </a>
        </td>
    </tr>
    <tr>
        <td>API beheerder:</td>
        <td>
            <a href="mailto:Tom.Hoet@UGent.be">
                Tom Hoet
            </a>
        </td>
    </tr>
    <tr>
        <td>Test beheerder:</td>
        <td>
            <a href="mailto:Xavier.Seyssens@UGent.be">
                Xavier Seyssens
            </a>
        </td>
    </tr>
    <tr>
        <td>Documentatiebeheerder:</td>
        <td>
            <a href="mailto:Dean.Parmentier@UGent.be">
                Dean Parmentier
            </a>
        </td>
    </tr>
    <tr>
        <td>Customer Relations Officer:</td>
        <td>
            <a href="mailto:Simon.Scheerlynck@UGent.be">
                Simon Scheerlynck
            </a>
        </td>
    </tr>
    <tr>
        <td>Kwaliteitsbeheerder:</td>
        <td>
            <a href="mailto:npdsmedt.DeSmedt@UGent.be">
                Nick De Smedt
            </a>
        </td>
    </tr>
    <tr>
        <td>Databankbeheerder:</td>
        <td>
            <a href="mailto:Lennart.Vermeir@UGent.be">
                Lennart Vermeir
            </a>
        </td>
    </tr>
    </tbody>
</table>
<p>De verantwoordelijken voor het project zijn:
<div id="foot_verantw">
    <h6><span>Universiteit Gent:</span></h6>
    <ul>
        <li><a href="mailto:Jan.Goedgebeur@ugent.be">Jan Goedgebeur</a></li>
        <li><a href="mailto:Marko.vanDooren@ugent.be">Marko Van Dooren</a></li>
        <li><a href="mailto:Annick.VanDaele@ugent.be">Annick Van Daele</a></li>
    </ul>
     <h6><span>Mobiliteitsbedrijf Gent:</span></h6>
    <ul>
        <li><a href="mailto:Pieter.Morlion@stad.gent">Pieter Morlion</a></li>
        <li><a href="mailto:florian_goeteyn@hotmail.com">Florian Goeteyn</a></li>
    </ul>
</div>
