<div id="intro_piece" class="container">

    <h1 id="intro_title"> Welkom bij het verkeerscentrum van Gent </h1>

    <div id="text_piece">
        <p>
            Welkom bij het verkeerscentrum van Gent, hier vindt u de meest recente en enkel nuttige verkeersinformatie over Gent.
        </p>
        <p>
            Registreer snel en geniet van onze snelle updates die u helpen om het hinderlijk verkeer te slim af te
            zijn en laat u dagelijks begeleiden door de stad gent.<br/>
            Wij verzamelen voor u real-time informatie over de huidige verkeerssituatie op de routes die u neemt in Gent.
            Hierdoor garanderen wij u dat u als eerste op de hoogte bent van alle hindernissen op uw route nog voor u vertrekt.
            Weg met de overbodige verkeersinformatie die u niet nodig heeft en die voor storende meldingen zorgt. Wij zorgen
            ervoor dat u enkel de informatie over uw favoriete routes naar het werk, naar de school van uw kinderen, naar de fitness,
            naar uw lievelingsbar, ... ontvangt en enkel op de tijdstippen wanneer u het nodig heeft. Met deze app komt u altijd aan
            bij uw lievelingstante wanneer haar heerlijke koekjes nog warm zijn, ook al is er 10km file op uw route. Wij verwittigen
            u op voorhand en stellen u het snelste alternatief voor.
            De enige informatie die we nodig hebben, zijn uw favoriete routes.
        </p>
        <p>
            Veel reisplezier in Gent,<br/>
            <a data-ng-click="toContacts()">Het ontwikkelingsteam</a>
        </p>
    </div>

    <div id="intro_but_cont" class="container">
        <button id="intro_log-in" type="button" class="btn icon-btn btn-primary btn-vop btn-125px" data-ng-click = "logIn()"  title="Log in">
            <span class="glyphicon btn-glyphicon glyphicon-log-in img-circle text-primary pull-left"></span>
            <span class="btn-vop-center-text"> Log in</span>
        </button>
        <button id="intro_register" type="button" class="btn icon-btn btn-primary btn-vop btn-125px" data-ng-click = "register()"  title="Registreren">
            <span class="glyphicon btn-glyphicon glyphicon-registration-mark  img-circle text-primary pull-left"></span>
            <span class="btn-vop-center-text">Registreer</span>
        </button>
    </div>

</div>

