<div class="container-fluid">
    <div class = "row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="alert alert-danger" data-ng-show="notValid" id="alertBox">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p data-ng-bind="notCompleteMessage"></p>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="alert alert-success" data-ng-show="valid" id="successBox">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p data-ng-bind="successMessage"></p>
            </div>
        </div>
    </div>
    <form
            name 		= "userForgotPass"
            role 		= "form"
            data-ng-submit	= "save()"
            class		= "form-horizontal"
    >
        <!-- email -->
        <div class = "form-group row">
            <div class="col-sm-6 col-sm-offset-3">
                <label for="email">Email <span class = "glyphicon glyphicon-asterisk"></span></label>
                <input
                        type="text"
                        class 		= "form-control"
                        data-ng-model	= "userForgotPassword.email"
                        id			= "email"
                        name		= "email"
                        placeholder = "Geef uw email"
                        required
                />
            </div>
        </div>

        <div class="row">
            <div class = "col-sm-6 col-sm-offset-3">
                <button class="btn icon-btn btn-success btn-vop btn-125px" type = "submit" title="Sturen">
                    <span class="glyphicon btn-glyphicon glyphicon-arrow-right img-circle text-success pull-left"></span>
                    <span class="btn-vop-center-text"> Sturen </span>
                </button>
            </div>
        </div>
    </form>
</div>
