<!-- Basic template for all unit tests in angular. If any new tests are written, just add a script tag to the corresponding test. -->
<html>
<head>
  <!-- Add jasmine css -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine.min.css">
  <!-- Add jasmine script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine-html.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/boot.min.js"></script>

  <script src="../angular.min.js"></script>
  <script src="../angular-mocks.js"></script>
</head>
<body>
  <script src="../../javascript/app.js"></script>
  <script type="text/javascript" src="../../javascript/karma-jasmine-tests/eventTests/eventListControllerTest.js"></script>
  <script src="../../javascript/controllers/eventListController.js"></script>
</body>
<!-- Add testscripts -->

<!-- <script src="./assets/javascript/controllers/eventAddController.js"></script> -->
<!-- <script src="./assets/javascript/controllers/eventShowController.js"></script> -->


</html>
